.bloco-resumoFinanc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.bloco-resumoFinanc h2 {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}

.bloco-resumoFinanc button {
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 0 15px 0 15px;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  height: 87px;
  display: flex;
  margin-bottom: 32px;
  width: 100%;
}

.botoes-lista {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 769px) {
  .bloco-resumoFinanc {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .bloco-resumoFinanc h2 {
    margin-top: 12px;
  }

  .bloco-resumoFinanc button {
    margin-top: 12px;
    margin-right: 16px;
  }

  .botoes-lista {
    width: 280px;
  }

  .lista-titulo {
    text-align: initial;
  }

  .lista {
    width: 53%;
  }

  ul {
    margin-top: 24px;
  }
}

@media (min-width: 785px) {
  .lista-titulo {
    margin: 10px 5px 0 0;
  }
}

@media (min-width: 1065px) {
  .lista {
    width: 560px;
  }
}
