.card-entrada {
  width: 4px;
  height: 87px;
  background-color: #03b898;
  border-radius: 4px 0px 0px 4px;
}

.card-saida {
  width: 4px;
  height: 87px;
  background-color: #e9ecef;
  border-radius: 4px 0px 0px 4px;
}

.infos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: #f8f9fa;
}

.infos:hover {
  background-color: white;
}

.infos h2 {
  font-weight: 700;
  font-size: 16px;
  color: #212529;
  width: 130px;
  text-align: initial;
  margin-left: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infos p {
  font-weight: 400;
  color: #212529;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85px;
}

.infos button {
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  color: #868e96;
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos span {
  width: 100%;
  text-align: initial;
  font-weight: 400;
  font-size: 12px;
  color: #868e96;
  margin-left: 14px;
}

@media (min-width: 475px) {
  .infos h2 {
    width: 225px;
  }
}

@media (min-width: 575px) {
  .infos h2 {
    width: 337px;
  }
}

@media (min-width: 769px) {
  .infos {
    width: 100%;
  }

  .infos h2 {
    width: 230px;
  }
}

@media (min-width: 975px) {
  .infos h2 {
    width: 337px;
  }

  .infos p {
    width: 120px;
  }
}
