.App {
  text-align: center;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  padding-bottom: 80px;
}

.geral {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  height: 88px;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

header img {
  width: 123px;
  height: 20px;
  margin-top: 33px;
}

header button {
  width: 64px;
  height: 40px;
  margin-top: 22px;
  border: none;
  border-radius: 8px;
}

.form-valorTotal {
  margin: 0px;
}

@media (min-width: 769px) {
  .geral {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-valorTotal {
    margin: 0 0 0 15px;
  }
}
